<div class="row g-3">
  <div class="col">
    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
  </div>
    <div>
         <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Choose the genre</option>
            <option value="1">Woman</option>
            <option value="2">Man</option>
            <option value="3">Other</option>
        </select>
    </div>
</div>